.custom-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 15px;
  margin-top: 15px;
}

.custom-table th,
.custom-table td {
  padding: 10px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.custom-table th {
  background-color: #f5f5f5;
}

.custom-table tr:hover {
  background-color: #f9f9f9;
}
